# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kasir_pintar?schema=public"

# API
API_PORT=4000
API_URL=http://localhost:4000
JWT_SECRET=change-this-to-a-long-random-secret-key
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000

# WhatsApp / Baileys
WA_AUTH_DIR=./wa_auth
WA_OWNER_NUMBERS=6281234567890
WA_LARGE_SALE_THRESHOLD=500000
WA_LARGE_EXPENSE_THRESHOLD=200000
DAILY_REPORT_CRON=0 21 * * *
MONTHLY_REPORT_CRON=0 21 1 * *
STOCK_CHECK_CRON=*/30 * * * *
TZ=Asia/Jakarta

# Store
STORE_NAME=Kasir Pintar
QRIS_STATIC_CODE="00020101021126570011ID.DANA.WWW011893600915303336689902090333668990303UMI51440014ID.CO.QRIS.WWW0215ID10265521044930303UMI5204737253033605802ID5906Arifin6015Kab. Serdang Be61052099763046737"
